ul {
	list-style-type: none;
	float:right;
}
li {
display: inline;
list-style-type: none;
padding-right: 20px;
}
footer {
  margin-top: 110px;
}
.navbar-header {
	height: 4em;
}
#body-content {
	position: relative;
	top: 110px;
}
#jumbotron {
	position:relative;
	top: 110px;
}
#nav {
	width: 100%;
	border: none;
	background: none;
}
#nav-buttons ul {
	list-style-type: none;
	float:right;

}
#footer-nav {
	margin-left: 80px;